@charset "UTF-8";
body {
    background-color: lavender;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

h1 {
    color: hotpink;
    text-align: center;
    background-color: azure;
}

h2 {
    color: burlywood;
    background-color: crimson;
}

p {
    font-size: 15px
}